@font-face {
  font-family: "SuisseIntl-Regular";
  src: url("~@/assets/fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SuisseIntl-Light";
  src: url("~@/assets/fonts/SuisseIntl-Light.otf") format("opentype");
}